@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 25% 10%;
    --foreground: 0 0% 100%;

    scrollbar-gutter: stable;
  }

  body {
    @apply break-all bg-background;
  }
}
