/* in styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  letter-spacing: -0.25px;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

html.light > body {
  @apply bg-white text-zinc-700;
}

html.dark > body {
  @apply bg-zinc-800 text-white;
}

html.dark strong {
  @apply text-lime-200;
}

html.dark a > strong {
  @apply text-blue-400;
}

body {
  @apply transition-colors duration-500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li > ol,
li > ul {
  margin-left: 16px;
}

@media screen and (min-width: 640px) {
  html {
    letter-spacing: -1px;
  }
}
